*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#0f1117;
color:#e6edf3;
padding:40px;
}

/* Header */

.header{
text-align:center;
margin-bottom:40px;
}

.header h1{
font-size:32px;
font-weight:600;
margin-bottom:12px;
}

.header p{
margin-top:8px;
}

.risk{
padding:8px 18px;
border-radius:20px;
font-size:14px;
font-weight:600;
background:#ff4d4d22;
color:#ff6b6b;
border:1px solid #ff4d4d;
}

/* Container */

.container{
max-width:1000px;
margin:auto;
}

/* Score */

.score-box{
background:#161b22;
padding:20px;
border-radius:10px;
margin-bottom:25px;
border:1px solid #30363d;
}

.score-title{
margin-bottom:10px;
}

.score-bar{
width:100%;
height:12px;
background:#30363d;
border-radius:10px;
overflow:hidden;
}

.score-fill{
height:100%;
transition:0.4s;
}

/* LOW risk = green */
.score-low{
background:linear-gradient(90deg,#00ff9c,#38d39f);
}

/* MEDIUM risk = orange */
.score-medium{
background:linear-gradient(90deg,#ffa94d,#ff922b);
}

/* HIGH risk = red */
.score-high{
background:linear-gradient(90deg,#ff4d4d,#ff0000);
}

/* Cards */

.card{
background:#161b22;
padding:25px;
border-radius:12px;
margin-bottom:25px;
border:1px solid #30363d;
transition:0.2s;
}

.card:hover{
transform:translateY(-3px);
border-color:#3b82f6;
}

.card-title{
font-size:18px;
font-weight:600;
margin-bottom:15px;
}

/* Lists */

ul{
list-style:none;
}

li{
background:#0d1117;
padding:10px 14px;
border-radius:8px;
margin-bottom:8px;
border:1px solid #30363d;
font-size:14px;
}

li ul{
margin-top:10px;
}

li ul li{
background:#0f141a;
}

/* Types */

.secret{
border-left:4px solid #f59f00;
}

.api{
border-left:4px solid #339af0;
font-family:monospace;
}

.insecure{
border-left:4px solid #ff4d4d;
}

.safe{
color:#3fb950;
}

.error{
color:#ff6b6b;
}

/* Back Button */

.back-btn{

display:inline-block;

margin-top:15px;

padding:10px 18px;

border-radius:8px;

background:#c61313;

color:white;

text-decoration:none;

font-size:14px;

font-weight:500;

border:1px solid #a02e2e;

transition:0.25s;

}

.back-btn:hover{

background:#800202;

transform:translateY(-1px);

box-shadow:0 0 8px rgb(251, 0, 0);

}