<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload APK for Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Analyze Your APK</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".apk" required>
            <input type="submit" value="Upload and Analyze" class="button">
        </form>
    </div>
</body>
</html>
